@charset "UTF-8";
			.flex-container {
			    display: -webkit-flex;
			    display: flex;  
			    -webkit-flex-flow: row wrap;
			    flex-flow: row wrap;
			    text-align: center;
			}

			.flex-container > * {
			    padding: 15px;
			    -webkit-flex: 1 100%;
			    flex: 1 100%;
			}

			.article {
			    text-align: left;
			}

			header {background-color: #0081cb;color:white; text-align: left; text-align: center;}
			footer {background-color: #00b0ff;color:black;}

			.nav {background-color: #69e2ff;}

			.nav ul {
			    list-style-type: none;
			    padding: 10px;
			    margin: 0;
			}
			.nav li a {
			    text-decoration: none;
			    display: block;
			    background: #cce5ff;
			    color: #000;
			    padding: 8px 16px;
			}

			#center {
				text-align: center;
			}

			/* Change the link color on hover */
			.nav li a:hover {
			    background-color: #555;
			    color: white;
			}
			@media all and (min-width: 768px) {
			    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
			    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
			    footer {-webkit-order:3;order:3;}
			}